.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* stilo do slider */

.slider {
    height: 100vh;
    position: relative;
}

.slider .slider-container .slider-img {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
}

.slider .slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slider-img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    position: absolute;
    top: 0;
    left: 0;
}
.slider .slider-img .texto-slider {
    position: absolute;
    left: 10%;
    top: 35%;
    color: #fff;
    z-index: 1;
    width: 80%;
    max-width: 600px;
   
}

.slider .slider-img .texto-slider h2 {
    font-size: 5rem;

}

/* stilo das setas */

.setas{
    width: 100%;
    height: 100%;
    padding: 0 4%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2222222222;
}

.setas button {
    width: 40px;
    height: 40px;
    background-color: #747474;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 1.2s;
   
   
}

.setas button:hover{
    background-color: #fff;

}

/* estilos dos botoes de navegaçoes */

.btn-nav-img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 77777777777;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  
}

.btn-nav-img .btn-nav {
    width: 30px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
  
}

.btn-nav-img .btn-nav:hover{
    background-color: #fff;
}

/* animação dos textos no slider */

@keyframes animatexto{
    100%{
        transform: translateY(0);
        opacity: 1;
    }

    
}

.slider .slider-img.ativo h2, /* animação para o h2 e paragrafo */
 .slider .slider-img.ativo p{
    transform: translateY(60px);
    opacity: 0;
    animation: animatexto .5s ease-in-out .7s forwards;
}

.slider .slider-img.ativo h2 { /* animação para iniciar o h2 ,tera um atraso e 1s */
    animation-delay: 1s ;
}

.slider-container .slider-img.ativo {
    opacity: 1;
    z-index: 111111111;
}

/* adicionando a class ativo no primeiro de navegação do slider. fica selecionado o primeiro botão */

.btn-nav-img .btn-nav.ativo{
    background-color: #fff;
}